# root
/.idea
/node_modules
/pnpm-lock.yaml
/.env

# bot
/bot/node_modules
/bot/.env
/bot/pnpm-lock.yaml

# frontend
/frontend/node_modules
/frontend/.next
/frontend/pnpm-lock.yaml
/frontend/.env.local

# prisma (sqlite)
/prisma/dev.db
/prisma/dev.db-journal
/prisma/migrations

# server
/server/pnpm-lock.yaml
/server/node_modules
/server/.env